<section class="about-section my-5">
      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <div class="about-text">
              <h4>Ko smo mi <i class="fas fa-question-circle text-green"></i></h4>
              <p>Gram Shop je prodavnica zdrave hrane osnovana 2016-e godine kao porodični posao sa ciljem da mušterijama obezbedi široku ponudu najkvalitetnijih namirnica i proizvoda. Nalazimo se u Jagodini, na adresi Kneza Lazara L1/7.</p>
              <p> Otvoreni smo svakog radnog dana od 8 do 20 časova, i subotom od 8 do 16 časova.</p>
            </div>
          </div>

        <div class="col-md-4">
          <div class="plant text-center">
            <img src="../../assets/img/plant.png" class="mx-auto" alt="plant">
          </div>
        </div>

        <div class="col-md-4">
            <div class="about-text-2">
              <h4>Šta nudimo <i class="fas fa-question-circle text-green"></i></h4>
              <p>Kod nas možete pronaći više od dve hiljade artikala pogodnih za vašu svakodnevnu i makrobiotičku ishranu. Nudimo sve vrste žitarica, suvog i orašastog voća, sertifikovanih organskih proizvoda, prirodnih sokova i mnogih drugih stvari, kao i raznih preparata namenjenih za održavanje i poboljšanje vašeg zdravlja.
              </p>
            </div>
          </div>

      </div>
      </div>
    </section>