
    <div class='navbar'>

        <div class="mx-auto">
            <h5 class="text-green"><i>Gram Shop </i><i class="fa fa-leaf"></i></h5>
            <!-- <h3 class='text-green  mb-0 mx-auto'> GS - Angular</h3> -->
        </div>
    
    </div>
    

    <div class="mx-auto text-center nav-buttons pb-2 pt-1 sticky-top">
            <a [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive='active-btn' class="btn">Početna</a>
            <a [routerLink]="['/about']" routerLinkActive='active-btn' class="btn mx-2">O Nama</a>
            <a [routerLink]="['/contact']" routerLinkActive='active-btn' class="btn">Kontakt</a>
    </div>
    