<section class="contact">
        <div class="container my-5  text-center">

                <div class="row">
            
                    <div class="col-md-4">
            
                        <div class="mb-5">
                            <i class="fab fa-instagram fa-"></i>
                            <h4>Instagram</h4>
                            <p><a class="social-link" href="https://www.instagram.com/zdrava_hrana.gramshop/" target="blank"><i class="fas fa-arrow-right"></i> zdrava_hrana.gramshop</a></p>
                        
                        </div>
            
                        
                        
                        <div class="mb-3">
                            <i class="fab fa-facebook"></i>
                            <h4>Facebook</h4>
                        <p><a class="social-link" href="https://www.facebook.com/Gram-Shop-Jagodina-179149129193510/" target="blank"><i class="fas fa-arrow-right"></i> Gram Shop / Jagodina</a></p>
                    
                        </div>
            
                    </div>
            
                    <div class="col-md-4 mb-4">
                        <div class="gramshop-img text-center">
                            <img class="rounded-circle" src="../../assets/img/gram.jpg" alt="">
                        </div>
                    </div>
            
                    <div class="col-md-4">
                        
                        <div class="mb-5">
                            <i class="fas fa-map-marker-alt"></i>
                            <h4>Adresa</h4>
                            <p>Kneza Lazara L1/7 35000 Jagodina</p>
                        </div>
            
                        
            
                        <div class="mb-3">
                            <i class="fa fa-envelope"></i>
                            <h4>E-mail</h4>
                            <p>gram.shop@yahoo.com</p>
                        </div>
            
                    </div>
            
                </div>
            
            </div>
</section>
